<a href="https://colab.research.google.com/github/Sonal-Jais/Assignments/blob/main/Assign_1_Submitted__by_SonalJ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25

.25**2/25*100+101-1

100.25

In [ ]:
## What is the value of the expression 4 * (6 + 5) Ans : 44
print(4*(6+5))
## What is the value of the expression 4 * 6 + 5  Ans : 29
print (4*6+5)
## What is the value of the expression 4 + 6 * 5  Ans : 34
print (4+6*5)

44
29
34

In [ ]:
## What is the type of the result of the expression 3 + 1.5 + 4? Ans : float

s1 = 3+1.5+4
print(type(s1))

<class 'float'>

In [ ]:
## What would you use to find a numberâ€™s square root, as well as its square?

# Square root:
print(49**(1/2))

# Square:
print(7**2)

7.0
49

In [ ]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

In [ ]:
s ='hello'
# Reverse the string using slicing

s1=s[::-1]
print(s1)

olleh

In [ ]:
## Given the string hello, give two methods of producing the letter 'o' using indexing.
s ='hello'
# Print out the 'o'

# Method 1:

print(s[-1])

# Method 2:
print(s[4])

o
o

In [ ]:
## Build this list [0,0,0] two separate ways.

# Method 1:
list = [0,0,[0]]

# Method 2:
list = [0,0,0]

print (list)

[0, 0, 0]

In [ ]:
## Reassign 'hello' in this nested list to say 'goodbye' instead:

list3 = [1,2,[3,4,'hello']]

list3[2][2]='goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

In [ ]:
## Sort the list below:

list4 = [5,3,4,6,1]

list4.sort()
print(list4)

[1, 3, 4, 5, 6]

In [ ]:
## Using keys and indexing, grab the 'hello' from the following dictionaries:

d = {'simple_key':'hello'}
print(d['simple_key'])


d = {'k1':{'k2':'hello'}}
print(d['k1']['k2'])


d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
print(d['k1'][0]['nest_key'][1][::])
         ## OR
print(d['k1'][0]['nest_key'][1])


d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
print(d['k1'][2]['k2'][1]['tough'][2])

hello
hello
['hello']
['hello']
['hello']

In [ ]:
## Can you sort a dictionary? Why or why not?

''' Ans : For accessing the values in a dictionary we use the key, 
          hence no need to sort the dictionary. '''

In [ ]:
## What is the major difference between tuples and lists?

''' tuples are created using the paranthesis.
    Lists are mutable in nature whereas the tuples are immutable in nature.
    Tuples are used for data integrity purpose.'''

 ##   How do you create a tuple?

##tuples are created using the paranthesis.
tt = (2,4,6,9)
print (tt)
print(type(tt))

(2, 4, 6, 9)
<class 'tuple'>

In [ ]:
## What is unique about a set?

'''the elements in the set are unique.'''

## Use a set to find the unique values of the list below:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

ss = {1,2,2,33,4,4,11,22,3,3,2}
'''OR'''
sa = set([1,2,2,33,4,4,11,22,3,3,2])
print(ss)
print(sa)

{1, 2, 33, 4, 3, 11, 22}
{1, 2, 33, 4, 3, 11, 22}

In [ ]:
# Answer before running cell
2 > 3
'''Ans : is not true/false'''

# Answer before running cell
3 == 2.0
'''Ans : is not true/false'''

# Answer before running cell
3.0 == 3
'''Ans : is true/true'''

# Answer before running cell
4**0.5 != 2
'''Ans : is not true/false'''

In [ ]:
## Final Question: What is the boolean output of the cell block below?


# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

#''' Ans : is not true'''

False