<a href="https://colab.research.google.com/github/Sonal-Jais/Assignments/blob/main/Sonal_FSDS_2_0_assign_004.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENT 04

Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

Q2. Print all the even number between (1, 12).

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [ ]:
# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

Answer 1

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]

max = numbers[0]
for i in numbers:
  if(i>max):
    max = i
print (f"the maximum element from the given list {numbers} is : {max}")

the maximum element from the given list [12, 75, 150, 180, 145, 525, 50] is : 525

Answer 2

In [ ]:
# Approach 1

print ("Printing even numbers between 1 to 12")
for i in range (1,12):
  if(i%2!=0):
    continue
  print(i)

Printing even numbers between 1 to 12
2
4
6
8
10

In [ ]:
# Approach 2

print ("Printing even numbers between 1 to 12")
for i in range (1,12):
    if (i%2==0):
      print(i)

Printing even numbers between 1 to 12
2
4
6
8
10

Answer 3

In [ ]:
num = int(input("enter the number upto which sum is to be caculated from 1 is  "))

sum =0
for i in range (1,num+1):
  sum +=i
print (f"The expected output for sum is : {sum}")

enter the number upto which sum is to be caculated from 1 is  10
 The expected output for sum is : 55

Answer 4 

wasn't able to interpret the expected output hence 2 approaches

In [ ]:
 # Approach 1

numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
 if i % 5==0:     # Step 1 checking if the number is divisible by 5 or not 
   if (i > 150):       # Step 2 within the first if block checking if the no. is greater then 150 
     continue                    # if it is then continue statement is executed 
   elif i > 500:          # Step 3 checking if the no. is greater then 500 
     break                        # if it is then the loop is terminated.
   print(i)              # printing all those values which are divisible by 5 and less than 150 and 500

75
150
145
50

In [ ]:
 # Approach 2

numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
  if i >500 :      # checking if the no. is greater then 500  the loop won't  iterate till the last element.
    break
  elif i > 150 :    # checking if the no. is greater then 150
    continue
  elif i % 5 == 0:
    print (i)

75
150
145

Answer 5

In [ ]:
list1 = [10, 20, 30, 40, 50]

print (f'''printing the given list : {list1}\nin the reverse order :''',list1[::-1])

printing the given list : [10, 20, 30, 40, 50]
in the reverse order : [50, 40, 30, 20, 10]