<a href="https://colab.research.google.com/github/Sonal-Jais/Assignments/blob/main/Sonal_Assig_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 1

In [ ]:
# Take input A and B and print their sum, mul, div, square of the nos.

A = int(input("enter the number A "))
B = int(input("enter the number B "))
print(f"The sum of the two nummbers {A} and {B} is : {A+B}")
print(f"The difference of the two nummbers {A} and {B} is : {A-B}")
print(f"The multiplication of the two nummbers {A} * {B} is : {A*B}")
print(f"The divison of the two nummbers {A} and {B} is : {A/B}")

enter the number A 20
enter the number B 10
The sum of the two nummbers 20 and 10 is : 30
The difference of the two nummbers 20 and 10 is : 10
The multiplication of the two nummbers 20 * 10 is : 200
The divison of the two nummbers 20 and 10 is : 2.0

In [ ]:
#How many reserve keywords are there in python and why we should not use them as a variable name.

"""and       del       from      not       while    
as        elif      global    or        with     
assert    else      if        pass      yield    
break     except    import    print              
class     exec      in        raise              
continue  finally   is        return             
def       for       lambda    try"""

""" In any programming language keywords or reserved words are predefined,
 i.e these keywords are assigned to perform specific functions.
 Python allows users to assign values to these reserved words but then they loose there pre existing functionality
hence we  should not use them as variable names.

example"""
print ("Hello World") # print is a keyword.
"""print = 10 # here we assigned a value to this keyword 
print  here we get the value we assigned to the keyword
print("Hello world") # in this line print looses its functionality
"""

Hello World

10

In [ ]:
#Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

fname = input("enter the first name : ")
lname = input("enter the last name : ")
print (f" Creation of email_id using the input values : {lname}.{fname}@gmail.com")

enter the first name : Sonal
enter the last name : jaiswal
 Creation of email_id using the input values jaiswal.Sonal@gmail.com

In [ ]:
"""Try to print the following lines -
Hi I'm Sunny
My address is 22/3
I earn 20$ daily."""

print("""Hi I'm Sonal
My Address is 22/3
I earn $20 daily""")

Hi I'm Sonal
My Address is 22/3
I earn $20 daily

In [ ]:
# Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

name = input("enter your name : ")
address = input("enter your address : ")
d_o_b = int(input("enter your birth year : "))
age = 2022 - d_o_b


print(f"""   COLLEGE FORM    
Student name : {name}
Address : {address}
Student's age : {age}
Email Id : {name}{age}@gmail.com""")

enter your name : sonal
enter your address : 22/3
enter your birth year : 2000
   COLLEGE FORM
Student name : sonal
Address : 22/3
Student's age : 22
Email Id : sonal22@gmail.com

In [ ]:
"""Convert the following -
"22.4" into integer
"22" into complex no."""

A = 22.4
print(f" Before conversion data type is {type(A)},value : {A}")
A = int(A)
print(f" After conversion data type is {type(A)},value : {A}")
B = "22"
print(f" Before conversion data type is {type(B)},value : {B}")
B = complex(B)
print(f" After conversion data type is {type(B)},value : {B}")

 Before conversion data type is <class 'float'>,value : 22.4
 After conversion data type is <class 'int'>,value : 22
 Before conversion data type is <class 'str'>,value : 22
 After conversion data type is <class 'complex'>,value : (22+0j)

# Errors that can be encountered

In [ ]:
Print("Good Evening")

# As Python is a case sensitive language, print is a keyword not Print thus resulting in an name error

NameError: ignored

In [ ]:
print "Good Evening"

# As any other language which has grammer, programming languages also have syntax which if violated results in error (more preciously syntax error)

SyntaxError: ignored

In [ ]:
print("Good 
Evening")

'''double qoutes used in python works for a single line statement,
   if the user wishes to use multiple line then thriple quotes are used either """" or '''

SyntaxError: ignored

Variable naming convention in python

Variable names should not contain any special characters like ^ % $ ! @ # ^ & * ()

Variable names can contain numbers but can not start with numbers

In [ ]:
ten%number = 10

10ten = 10

# Violation of the naming conventions leads to Syntax error.

SyntaxError: ignored

## Concatenation is performed when the variables are of same data type

### if we encounter variables of different datatypes we use Strong Typing to convert the data types

In [ ]:
"Day " + 1

# here we encountered two different data types str and int.
# hence in order to concat them we need to convert suitable one to data type of the other.

TypeError: ignored

In [ ]:
"Day" + " 1"

'Day 1'

In [ ]:
A = "day"
A = int(A)
A

# here we can see that string cannot be converted into int datatype thus we get a Value error.

ValueError: ignored

In [ ]:
A = float(input("Enter value of A: ")) 
B = int(input("Enter value of B: ")) 

print(f"Sum of A and B is: {A+B}")

# If any of the value being input is of any other data type, an error can occur
# in float we can input an integer value as well it wont give an error but visa versa is not possible.

Enter value of A: 22
Enter value of B: 25.2

ValueError: ignored